
@{
    Layout = "~/Areas/HPDUtility/Views/Shared/_LayoutAccount.cshtml";
}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block">
                                <img src="~/Content/image/Global/hipre-logoLg.jpeg" class="img-responsive img-fluid">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="txtUserName" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="txtPassword" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <a class="btn btn-success btn-user btn-block text-white" id="btnUserLogin">
                                            Login
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="#">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="#">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            window.addEventListener("pageshow", function (event) {
                var historyTraversal = event.persisted ||
                    (typeof window.performance != "undefined" &&
                        window.performance.navigation.type === 2);
                if (historyTraversal) {
                    // Handle page restore.
                    window.location.reload();
                }
            });

            var res = "@ViewBag.Message";

            $("#btnUserLogin").on("click", function () {
                var u = String($("#txtUserName").val());
                var p = String($("#txtPassword").val());
                var adata = {
                    loginvm:
                        { 'UserName':u, 'Password': p}
                }
                $.ajax({
                    url: '@Url.Action("Login", "Account")',
                    dataType: 'json',
                    method: 'post',
                    data: JSON.stringify(adata),
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        location.reload();
                        alert("wew");
                    },
                    error: function (err) {
                        location.reload();
                        alert(res);
                    }

                });
            });
        });
    </script>
}