<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Dashboard</h1>

    <div class="row">
        <div class="col-xl-12 col-lg-8">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">System Developer</h6>

                </div>
                <div class="card-body">
                    <div class="row" id="cardEmpLst">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

<!-- List of Program Modal-->
<div class="modal fade" id="programListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Projects</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" id="programDetails">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form class="user">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <a href="#" class="btn btn-danger btn-circle" data-dismiss="modal">
                                <i class="fas fa-window-close"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
