<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <!--<add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="basecampdevEntities" connectionString="metadata=res://*/Model.CasebookModel.csdl|res://*/Model.CasebookModel.ssdl|res://*/Model.CasebookModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stagserver.database.windows.net;initial catalog=basecampdev;user id=staging.admin;password=qwerty1-8;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ManualResetLink" value="https://casebooklegacywebqa.azurewebsites.net/Casebook/Auth/ManualResetLink" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>

</configuration>
